<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New theme</title>
  <link rel="stylesheet" href="../dist/main.css">
</head>
<body>
  <header class="header">
    <ul class="menu">
      <li><a href="../index.html">home</a></li>
      <li><a href="news.html">ГАЛЕРЕЯ!!!</a></li>
    </ul>
  </header>
  <div class="container-fluid gallery">
    <div class="row">
      <div class="col-md-3 image"><img src="https://www.meme-arsenal.com/memes/f11d7982226b23f1ff5a8c3fe0b0f11a.jpg" alt=""></div>
      <div class="col-md-3 image"><img src="https://www.sbs.com.au/movies/sites/sbs.com.au.film/files/styles/full/public/shadows_0.jpg?itok=1fB9ecbU" alt=""></div>
      <div class="col-md-3 image"><img src="https://i.ytimg.com/vi/HUPhDTG70f8/maxresdefault.jpg" alt=""></div>
      <div class="col-md-3 image"><img src="https://i.ytimg.com/vi/qZqTiCIIyFo/maxresdefault.jpg" alt=""></div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../js/custom.js"></script>
</body>
</html>
