// Colors

$link-color: #f80;
$header-bg: #567;
$pink: #ce0393;
$white-color: #ffffff;
$dusty: #0e0e0e;
$trp-white: rgba(255, 255, 255, .32);
$news-background: #f1f1f1;
$top-shadow: #d5d5d5;
$shadows: #3b3b3a;
$shadows2:rgba(59, 59, 58, 0);
$news-line: #c7c7c7;
$descr: #8e8e8e;

